{
  "presets": [
    "@babel/preset-typescript",
    // ... your other presets
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs"
    // ... your other plugins
  ],
  "env": {
    "test": {
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}

